#messageArea{
  position: relative;
  color: black;
  background-color:black;
  width:300px;
  height:150px;
  text-align: center;
}
#messageArea > span {
  position: absolute;
  font-size: 50px;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}
button {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #d6dbd2;
  border-style: none;
}
