.canvas-wrapper {
  position: relative;
}
.canvas-wrapper canvas {
  position: absolute;
}
.option1 {
  top: 50px;
}
.option2 {
  top: 150px;
}
.option3 {
  top: 250px;
}
button {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #d6dbd2;
  border-style: none;
}
